//サイドバー内の閉じるボタン
.menuButton {
    background-color: #FFF7EF;
    border: none;
    display: block;
    height: 65px;
    width: 65px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    
    
      div {
          height: 4px;
          width: 50%;
          background-color: #707070;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: rotate(45deg) translate(-50%, 0);
          transform-origin: 0% 50%;
          transition: .2s;
      }

      div:nth-of-type(2) {
        background-color: #707070;
        transform: rotate(-45deg) translate(-50%, 0);
        transform-origin: 0% 50%;
    }

    @include pc {
        display: none;
      }
}
