//投稿ページの大枠
#single_page {

    .container {
        display: block;
        padding: 20px 20px 0 20px;

            @include iPad{
                padding: 60px 60px 0 60px;
            }

            @include pc {
                padding: 100px 100px 0 100px;
            }

    }

}