//ページネーション
    .wp-pagenavi {
        font-size: 16px;
        font-weight: 600;
        font-family: 'M PLUS 1p', sans-serif;
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding: 25px 0 30px;

        .pages,.smaller,.current,.larger {
            display: none;
                @include iPad {
                    display: inline-block;
                }
        }

        .pages {
            margin-right: 10px;
            color: #707070;
        }

        .previouspostslink {
            color: #707070;
            font-weight: 200;
            vertical-align: middle;

            @include iPad {
                font-size: 30px;
                vertical-align: top;
            }

            @include pc {
                vertical-align: middle;
            }

            .prev {
                @include iPad {
                    display: none;
                    border: none;
                }
            }
        }

        .nextpostslink {
            color: #707070;
            font-weight: 200;
            vertical-align: middle;

            @include iPad {
                font-size: 30px;
                vertical-align: top;
            }

            @include pc {
                vertical-align: middle;
            }

            .next {
                @include iPad {
                    display: none;
                }
            }
        }

        .page {
            background-color: #fff;
            color: #707070;
            padding: 6.5px 10px;
            margin: 0 5px;
            border: solid #707070;

            &:hover {
                background-color: #3C2B1C;
                color: #fff;
            }
        }

        .current {
            background-color: #3C2B1C;
            color: #fff;
            padding: 6.5px 10px;
            margin: 0 5px;
            border: solid #707070;
        }

        @include iPad {
            text-align: center;
            display: inline-block;
            justify-content: start;
        }
    }
