//投稿ページのギャラリー
.wp-block-image {
    padding-top: 20px;
    @include iPad{
        padding-top: 60px;
    }
            img {
                height: 124px;

                @include iPad {
                    height: 264px;
                }

                @include pc {
                    height: 300px;
                    width: 100%;
                }
            }
}

.wp-block-media-text {
    padding: 2em 0 0;
    display: flex;

        @include iPad {
            padding: 3em 0 0;
        }

        .wp-block-media-text__media {
        width: 40%;

            img {
                width: 100%;
                height: 89px;

                @include iPad {
                    height: 149px;
                }

                @include pc {
                    height: 200px;
                }
            }
        }

    .wp-block-media-text__content {
        width: 60%;
        padding: 10px;

            @include iPad {
                padding: 0 10px 10px 20px;
            }

            @include pc {
                padding: 0 0 10px 40px;
            }

        pre {
            background-color: #fff;
            font-family: 'M PLUS 1p', sans-serif;
            width: 100%;
            padding: 0;
            align-items: start;
            height: 148px;
            overflow: hidden;
            line-height: 1.5;
            font-size: 1rem;
        }

        .has-large-font-size {
            align-items: start;
            padding: 0!important;
        }
    }
    
}

.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__content, .wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__media, .wp-block-media-text .wp-block-media-text__content, .wp-block-media-text .wp-block-media-text__media{
    align-self: start;
}

.wp-block-media-text.has-media-on-the-right {
    .wp-block-media-text__media {
        order:1;
    }

    .wp-block-media-text__content {
        order:0;

        @include pc {
            padding: 0 40px 10px 0;
        }
    }
    
}

.aligncenter {
    width: 80%;
    height: 166px;
    padding: 20px 0;
        @include iPad {
            height: 358px;
            padding: 20px 0 200px 0;
        }

        @include pc {
            padding: 20px 0 60px 0;
        }

    figure {
            text-align: center;
        img {
            width: 80%;

                @include pc {
                    width: 50%;
                }
        }
    }
}

.wp-block-gallery.columns-1{
    padding-bottom: 20px;
    
    .blocks-gallery-grid {
        @include iPad {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &::after {
                content:"";
                display: block;
                width:50%;
            }
        }

        @include pc {
            &::after {
                width:33%;
            }
        }

        .blocks-gallery-item {
            width: 100%;
            padding: 20px 0 0;   
                @include iPad {
                    width: 50%;
                    padding: 20px 7.5px 0 7.5px;
                }

                @include pc{
                    width: 33%;
                }
        }
    }
}