//画面全体
.flex_contents {
    @include pc {
      display: flex;
    }
}

//ヘッダー、メイン
.flex_left {
    @include pc {
        width: 80%;
    }
}

//ナビゲーション
.flex_right {
    @include pc {
        width: 20%;
        height: 100%;
    }
}