//フッター
footer {
    background-color: #9D8670;  
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    z-index: 400;
    
    .footer_item {
        display: flex;
        align-items: center;
        justify-content: center;
        .info {
            line-height: 100px;
            height: 100px;
                a {
                    font-size: 1.5rem;
                    font-family: 'M PLUS 1p', sans-serif;
                    font-weight: 300;
                    color: #fff;
                        @include iPad {
                            font-size: 1.2rem;
                        }
                }

                &::before {
                    content: '|';
                    padding: 0 15px;
                    color: #fff;
                    font-size: 1.5rem;
                }

                &:first-of-type::before {
                    content: none;
                }
                
        }
    }

    p {
        small {
            font-size: 1rem;
            line-height: 3em;
            height: 3em;
            font-family: 'M PLUS 1p', sans-serif;
            font-weight: 300;
            color: #fff;
                @include iPad {
                    font-size: 0.8rem;
                }
        }
    }
}